@import "global";


.timelineStatus {
  border-radius: 50px;

  &.doing {
    background-color: $cream-one;
    color: $green-two;
  }

  &.done {
    background-color: $cream-two;
    color: $green-three;
  }

  &.stop {
    background-color: $blue-three;
    color: $blue-four;
  }

  &.deadline {
    background-color: $red-one;
    color: $red-two;
  }


}

.timelineAvatar {
  width: 90px;
  height: 90px;
  z-index: 1;
  border-radius: 50px;
  border: 4px solid $white-two;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  //padding: 0 30px;

  &.green {
    background-color: $green-one;
    border-color: $green-one;
  }

  &.red {
    background-color: $red;
    border-color: $red;
  }

  &.blue {
    background-color: $theme-color-darker;
    border-color: $theme-color-darker;
  }

  &.gray {
    //background-color: $theme-color-darker;
    border-color: $gray-two;
  }
}

.titleBox {

  background-color: #21c1d6;
  //padding: 7px 7px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.currentSessionTopItemAvatarParent {
  position: absolute;
  top: 70px;
  z-index: 1;

}

.currentSessionTopItemAvatar {
  width: 120px;
  height: 120px;
  z-index: 1;
  border-radius: 60px;
  object-fit: cover;

  border: 4px solid $gold;
}

.currentSessionTopItemAvatarCrown {
  position: absolute;
  width: 80px;
  height: 80px;
  top: -50px;
  right: -10px;
  z-index: 2;

  animation: mymove 2.5s infinite linear;

}

@keyframes mymove {

  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(1,1,1) rotate3d(0, 0, 1,
            -10deg
    );
    transform: scale3d(1,1,1) rotate3d(0, 0, 1,
            -10deg
    );
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1,
            10deg
    );
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1,
            10deg
    );
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1,
            -10deg
    );
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1,
            -10deg
    );
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

}


.lastSessionItemRateBox {
  position: absolute;
  //right: 10px;
  font-size: 14px;
  z-index: 2;
  top: 30%;
  color: $white;
  background-color: #21c1d6;
  padding: 7px 10px;
  border-radius: $card-border-one;
}

.lastSessionItemAvatar {
  // position: 'absolute',
  width: 80px;
  height: 80px;
  margin-right: 20px;
  //top: 30,
  //zIndex: 1,
  border-radius: 50px;
  border: 2px solid #21c1d6;
  object-fit: cover;
  //object-fit: contain;
}

.lastSessionItemInfo {

}


.currentSessionItemAvatar {
  // position: 'absolute',
  width: 45px;
  height: 45px;
  margin-right: 8px;
  //top: 30,
  //zIndex: 1,
  border-radius: 50px;
  border: 2px solid #21c1d6;
  object-fit: cover;
  //object-fit: contain;
}

.currentSessionItemRateBox {
  font-size: 14px;
  color: $white;
  background-color: #21c1d6;
  padding: 7px 10px;
  border-radius: $card-border-one;
}


//@keyframes shake {
//  0% { transform: translate(1px, 1px) rotate(0deg); }
//  10% { transform: translate(-1px, -2px) rotate(-1deg); }
//  20% { transform: translate(-3px, 0px) rotate(1deg); }
//  30% { transform: translate(3px, 2px) rotate(0deg); }
//  40% { transform: translate(1px, -1px) rotate(1deg); }
//  50% { transform: translate(-1px, 2px) rotate(-1deg); }
//  60% { transform: translate(-3px, 1px) rotate(0deg); }
//  70% { transform: translate(3px, 1px) rotate(-1deg); }
//  80% { transform: translate(-1px, -1px) rotate(1deg); }
//  90% { transform: translate(1px, 2px) rotate(0deg); }
//  100% { transform: translate(1px, -2px) rotate(-1deg); }
//}


@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}