$theme-color: #2797FF;
$theme-color-darker: #1c87ff;
$card-border-one: 5px;
$font-size-one: 20px;
$font-size-two: 16px;
$font-size-three: 10px;

$gray: #2f353b;
$gray-one: rgba(70, 70, 70, 0.8);
$gray-two: rgba(177, 177, 177, 0.8);
$gray-three: #B1B1B1;
$gray-five: rgba(177, 177, 177, 0.8);
$gray-six: #2E2E2E;

$gold: #ffb22b;
$silver: #a0a0a0;
$bronze: #CD7F32;
$gold-two: #f9e7a3;
$silver-two: #d9d9d9;
$bronze-two: #fedcbe;
$background-color: #24282f;
$background-color-darker: #E5E5E5;
$paddingTopForMenu: 70px;
$blue-one: #D0EFFF;
$blue-two: #1E88E5;
$blue-three: rgba(240, 66, 255, 0.06);
$blue-four: #F042FF;
$blue-five: rgba(208, 239, 255, 0.4);
$blue-six: #187BCD;
$green-one: #1dea84;
$green-two: #FBB811;
$green-three: #13D00F;
$cream-one: #FEF0CD;
$cream-two: rgba(19, 208, 15, 0.1);
$red-one: rgba(255, 0, 0, 0.06);
$red-two: #FF0000;

$white-two: #DEE2E6;
$white: #FFFFFF;
$black: #000000;

$red: rgba(0, 0, 0, 0.63);
$splash-color: #26276E;
$input-border-color: #1565D8;
$input-background-color: #EBEBEBB0;
$sales-background-color: #3DD598;
$sales-timer-separator-color: #D7B47C;
$card-border-two: 15px;
$button-color-one: #1976D2;

$blue-text-color-one: #5E7FB2;
$blue-text-color-two: #2F308C;

.ant-timeline-item-tail {
  border-left-style: dashed !important;

}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $blue-two;
}

.ant-tabs {
  color: $gray-three !important;

}

.horizontalProgressBar {
  transform: rotate(270deg);

}

@media only screen and (max-width: 991px) {
  .horizontalProgressBar {
    display: none !important;

  }
}

.colors {
  &.redOneColor {
    color: $red-one;
  }

  &.redOneBackColor {
    background-color: $red-one;
  }

  &.redTwoColor {
    color: $red-two;
  }

  &.redTwoBackColor {
    background-color: $red-two;
  }

  &.whiteColor {
    color: $white;
  }

  &.whiteBackColor {
    background-color: $white;
  }

  &.greenThreeColor {
    color: $green-three;
  }

  &.greenThreeBackColor {
    background-color: $green-three;
  }

  &.greenTwoColor {
    color: $green-two;
  }

  &.greenTwoBackColor {
    background-color: $green-two;
  }

  &.greenOneColor {
    color: $green-one;
  }

  &.greenOneBackColor {
    background-color: $green-one;
  }

  &.creamOneColor {
    color: $cream-one;
  }

  &.creamOneBackColor {
    background-color: $cream-one;
  }

  &.creamTwoColor {
    color: $cream-two;
  }

  &.creamTwoBackColor {
    background-color: $cream-two;
  }

  &.blueOneColor {
    color: $blue-one;
  }

  &.blueOneBackColor {
    background-color: $blue-one;
  }

  &.blueTwoColor {
    color: $blue-two;
  }

  &.blueTwoBackColor {
    background-color: $blue-two;
  }

  &.blueThreeColor {
    color: $blue-three;
  }

  &.blueThreeBackColor {
    background-color: $blue-three;
  }

  &.blueFourColor {
    color: $blue-four;
  }

  &.blueFourBackColor {
    background-color: $blue-four;
  }

  &.blueFiveColor {
    color: $blue-five;
  }

  &.blueFiveBackColor {
    background-color: $blue-five;
  }

  &.blueSixColor {
    color: $blue-six;
  }

  &.blueSixBackColor {
    background-color: $blue-six;
  }

  &.grayFiveColor {
    color: $gray-five;
  }

  &.grayFiveBackColor {
    background-color: $gray-five;
  }

  &.bronzeTwoColor {
    color: $bronze-two;
  }

  &.bronzeTwoBackColor {
    background-color: $bronze-two;
  }

  &.silverTwoColor {
    color: $silver-two;
  }

  &.silverTwoBackColor {
    background-color: $silver-two;
  }

  &.goldTwoColor {
    color: $gold-two;
  }

  &.goldTwoBackColor {
    background-color: $gold-two;
  }

  &.bronzeColor {
    color: $bronze;
  }

  &.bronzeBackColor {
    background-color: $bronze;
  }

  &.silverColor {
    color: $silver;
  }

  &.silverBackColor {
    background-color: $silver;
  }

  &.goldColor {
    color: $gold;
  }

  &.goldBackColor {
    background-color: $gold;
  }

  &.grayOneColor {
    color: $gray-one;
  }

  &.grayOneBackColor {
    background-color: $gray-one;
  }

  &.grayTwoColor {
    color: $gray-two;
  }

  &.grayTwoBackColor {
    background-color: $gray-two;
  }

  &.grayThreeColor {
    color: $gray-three;
  }

  &.grayThreeBackColor {
    background-color: $gray-three;
  }

  &.grayFourColor {
    color: $gray;
  }

  &.grayFourBackColor {
    background-color: $gray;
  }

  &.themeColor {
    color: $theme-color;
  }

  &.themeBackColor {
    background-color: $theme-color;
  }

  &.themeDarkerColor {
    color: $theme-color-darker;
  }

  &.themeDarkerBackColor {
    background-color: $theme-color-darker;
  }
}


.myNavLink {
  color: $theme-color;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: $theme-color-darker !important;
  }

}

.row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  //padding-left: 0 !important;
  //padding-right: 0 !important;
  //margin-left: 0 !important;
  //margin-right: 0 !important;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-white {
  background-color: $white;
}

.card {
  //transition: 1s;


  &.one {
    background-color: $white;
    padding: 24px 20px;
    border-radius: $card-border-one;
    z-index: 3;
    border: 0;
  }

  &.two {
    background-color: $white;
    //padding: 24px 20px;
    border-radius: $card-border-one;
    //z-index: 3;
    overflow: hidden;
    border: 0;
  }

  &.three {
    background-color: $blue-five;
    padding: 24px 20px;
    border-radius: $card-border-one;
    z-index: 3;
    border: 0;
  }


  &.alert {
    background-color: $white;
    padding: 24px 20px;
    border-radius: $card-border-one;
    z-index: 3;

    //transition: .3s;
    //transform: fade_in(3s);

    #alertTitle {
      padding-right: 20px;
      font-size: $font-size-two;
      color: $gray-two;
      //font-weight: bold;
    }

    i {
      font-size: $font-size-one;
      font-weight: bold;

      &.success {
        color: $green-one;
      }

      &.error {
        color: $red;
      }

      &.danger {
        color: $theme-color;
      }

    }

  }


  #title {
    font-size: $font-size-one;
    color: $gray-one;
    font-weight: bold;
  }

}


.inputStyleOnePlaceholder {
  position: absolute;
  right: 0;
  top: 28px;
  background-color: transparent;
  z-index: 1;
  color: $gray-one;
  font-size: $font-size-two;
  transition: .3s;
}

.inputStyleOne {
  background-color: transparent;
  min-height: 59px;
  border-width: 0 0 0.5px 0;
  border-color: $gray-one;
  width: 100%;
  position: relative;
  outline: 0;
  z-index: 2;
  color: $gray-one;
  padding: 15px 0 0;
  margin: 0;

  &:focus ~ .inputStyleOnePlaceholder {
    top: 0;
    font-size: $font-size-three;
  }

  &:valid ~ .inputStyleOnePlaceholder {
    top: 0;
    font-size: $font-size-three;
  }

}

.inputStyleTwo {
  transition: .3s;
  width: 100% !important;
  background-color: $background-color;
  border-radius: 21px;
  min-height: 59px;
  border: 0;
  outline: 0;

  &::placeholder {
    color: $gray-three;
  }

  &.navbar {
    min-height: 42px;
    text-align: center;
    margin-left: 38px;
  }

  &:focus {
    background-color: $background-color-darker;
  }

  &:hover {
    background-color: $background-color-darker;
  }

}

::-webkit-input-placeholder {
  font-family: "Font Awesome 5 Pro", "Dana Reg", serif;

}

.buttonStyleOne {
  -webkit-appearance: none !important;
  transition: .3s;
  width: 100% !important;
  font-size: $font-size-two !important;
  border-radius: $card-border-one !important;
  padding: 5px !important;
  background-color: $theme-color !important;
  color: $white !important;
  border: 0 $theme-color !important;
  min-height: 50px !important;

  //&.red {
  //  background-color: $red !important;
  //}
  //
  //&.green {
  //  background-color: $green-one !important;
  //}
  //
  //&.transparent {
  //  background-color: transparent !important;
  //  color: $black !important;
  //  border: 0 !important;
  //
  //}

  &:hover {
    background-color: $theme-color-darker !important;
  }

}


.columnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.myNavbar {
  position: absolute;
  height: 70px;
  //width: 100%;
  //display: flex;
  //flex-direction: row;
  background-color: $white;
  //align-items: center;
  //padding: 0 135px;
  //justify-content: space-between;

  @media only screen and (max-width: 600px) {

    #searchMyNavbar {
      display: none;
    }
    #logoMyNavbar {
      display: none;
    }
  }

  .child {
    display: flex;
    flex-direction: row;
    align-items: center;

    //&~ .inputStyleTwo {
    //  height: 42px;
    //}


    .button {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: $background-color;
      border: 0;
      min-width: 42px;
      height: 42px;
      padding: 3px;
      border-radius: 21px;
      cursor: pointer;
      outline: none;
      margin-left: 15px;
      transition: .3s;
      //display: flex;
      //flex-direction: row;
      //align-items: center;
      //justify-content: center;

      #title {
        color: $gray-three;
        padding: 0 12px;
      }

      #avatar {
        border-radius: 21px;
        width: 39px;
        height: 39px;
        transition: .3s;
        object-fit: cover;
        //object-fit: contain;
      }

      svg {
        color: $gray-three;
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: $background-color-darker;
        //width: auto;
        #avatar {
          border-radius: 25px;
          width: 45px;
          height: 45px;
        }
      }

      &.circle {
        width: 42px;
        //transition: width 2s;
        //overflow: hidden;
        //
        //#circleBTNName{
        //  //padding: 0 10px;
        //  //display: none;
        //  width: 0;
        //  background-color: black;
        //}

        //&:hover{
        //  background-color: $background-color-darker;
        //  width: auto;
        //
        //  #circleBTNName{
        //    //display: block;
        //    //width: auto;
        //    width: auto;
        //
        //  }
        //
        //}
      }

    }

  }


  #logo {
    display: flex;
    flex-direction: row;
    margin-right: 38px;
  }

}


input[type=radio] {
  position: absolute;
  visibility: hidden;
  //display: none;
  display: none;
  //flex-direction: row;
  //align-items: center;
  //justify-content: center;
  //flex-grow: 1;
}

label {
  //color: lighten($bg,40%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  //flex-grow: 1;
  cursor: pointer;
  color: $white;
  font-weight: bold;
  padding: 5px 15px;
  //padding: 10px 20px;
  margin: 2px;
  border-radius: 50px;
}


input[type=radio]:checked + label {
  color: $gray-six;
  background-color: $white;
}

label + input[type=radio] + label {
  //border-left: solid $borderWidth $fg;
}

.radio-group {
  width: 100%;
  //border: solid 2px $background-color;
  background-color: $gray-five;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  //margin:0 0 20px 0;
  border-radius: 50px;
}

@media only screen and (max-width: 993px) {
  label {
    padding: 10px 30px !important;

  }
}

//++++++++++++++

.tox .tox-editor-header {
  z-index: 0 !important;
}

.ant-notification-notice-description, .ant-notification-notice-message {
  direction: rtl !important;
}

.ant-modal-wrap {
  z-index: 100000 !important;
}

.navbar {
  z-index: 90000 !important;
}

.ant-select-clear {
  justify-content: flex-end !important;
}

.ant-select-selector {
  background-color: transparent !important;
  border: transparent !important;
}

.ant-select-arrow {
  left: 11px !important;
  right: unset !important;
}

.ant-select-selection-placeholder {
  padding-right: 0 !important;
}

.ant-modal-content {
  background-color: transparent !important;
  //.ant-modal-close{
  //  display: none !important;
  //}
}

.ant-notification {
  direction: ltr !important;
  z-index: 100000 !important;
}

::-webkit-scrollbar {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}


#helptabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $theme-color !important;
}

#helptabs .ant-tabs-ink-bar {
  background-color: $theme-color !important;
}

#introtabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $white !important;
}

.borderRadiusOne {
  border-radius: 15px;
}


.rowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


a {
  color: $theme-color;
}



.mainContainer {
  background-color: $background-color;
  min-height: 100vh;
  //height: 100vh;
}

.dangerousContent {
  img {
    width: 10px !important;
  }

}

.loader {
  position: absolute;
  top: 50%;
  //top: calc(50% - 32px);
  left: 50%;
  //left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  //border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  &.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid $theme-color;
  }

  &.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid $theme-color;
  }

  &.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid $theme-color;
  }
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .hei-1 {
    min-height: 8.33vh !important;
  }
  .hei-2 {
    min-height: 16.66vh !important;
  }
  .hei-3 {
    min-height: 25vh !important;
  }
  .hei-4 {
    min-height: 33.33vh !important;
  }
  .hei-5 {
    min-height: 41.66vh !important;
  }
  .hei-6 {
    min-height: 50vh !important;
  }
  .hei-7 {
    min-height: 58.33vh !important;
  }
  .hei-8 {
    min-height: 66.66vh !important;
  }
  .hei-9 {
    min-height: 75vh !important;
  }
  .hei-10 {
    min-height: 83.33vh !important;
  }
  .hei-11 {
    min-height: 91.66vh !important;
  }
  .hei-12 {
    min-height: 100vh !important;
  }

  .heif-1 {
    height: 8.33vh !important;
  }
  .heif-2 {
    height: 16.66vh !important;
  }
  .heif-3 {
    height: 25vh !important;
  }
  .heif-4 {
    height: 33.33vh !important;
  }
  .heif-5 {
    height: 41.66vh !important;
  }
  .heif-6 {
    height: 50vh !important;
  }
  .heif-7 {
    height: 58.33vh !important;
  }
  .heif-8 {
    height: 66.66vh !important;
  }
  .heif-9 {
    height: 75vh !important;
  }
  .heif-10 {
    height: 83.33vh !important;
  }
  .heif-11 {
    height: 91.66vh !important;
  }
  .heif-12 {
    height: 100vh !important;
  }

}

@media only screen and (min-width: 600px) {
  //@media only screen and (min-width: 768px) {
  .hei-md-1 {
    min-height: 8.33vh !important;
  }
  .hei-md-2 {
    min-height: 16.66vh !important;
  }
  .hei-md-3 {
    min-height: 25vh !important;
  }
  .hei-md-4 {
    min-height: 33.33vh !important;
  }
  .hei-md-5 {
    min-height: 41.66vh !important;
  }
  .hei-md-6 {
    min-height: 50vh !important;
  }
  .hei-md-7 {
    min-height: 58.33vh !important;
  }
  .hei-md-8 {
    min-height: 66.66vh !important;
  }
  .hei-md-9 {
    min-height: 75vh !important;
  }
  .hei-md-10 {
    min-height: 83.33vh !important;
  }
  .hei-md-11 {
    min-height: 91.66vh !important;
  }
  .hei-md-12 {
    min-height: 100vh !important;
  }

  .heif-md-1 {
    height: 8.33vh !important;
  }
  .heif-md-2 {
    height: 16.66vh !important;
  }
  .heif-md-3 {
    height: 25vh !important;
  }
  .heif-md-4 {
    height: 33.33vh !important;
  }
  .heif-md-5 {
    height: 41.66vh !important;
  }
  .heif-md-6 {
    height: 50vh !important;
  }
  .heif-md-7 {
    height: 58.33vh !important;
  }
  .heif-md-8 {
    height: 66.66vh !important;
  }
  .heif-md-9 {
    height: 75vh !important;
  }
  .heif-md-10 {
    height: 83.33vh !important;
  }
  .heif-md-11 {
    height: 91.66vh !important;
  }
  .heif-md-12 {
    height: 100vh !important;
  }

}

@media only screen and (min-width: 992px) {
  .hei-lg-1 {
    min-height: 8.33vh !important;
  }
  .hei-lg-2 {
    min-height: 16.66vh !important;
  }
  .hei-lg-3 {
    min-height: 25vh !important;
  }
  .hei-lg-4 {
    min-height: 33.33vh !important;
  }
  .hei-lg-5 {
    min-height: 41.66vh !important;
  }
  .hei-lg-6 {
    min-height: 50vh !important;
  }
  .hei-lg-7 {
    min-height: 58.33vh !important;
  }
  .hei-lg-8 {
    min-height: 66.66vh !important;
  }
  .hei-lg-9 {
    min-height: 75vh !important;
  }
  .hei-lg-10 {
    min-height: 83.33vh !important;
  }
  .hei-lg-11 {
    min-height: 91.66vh !important;
  }
  .hei-lg-12 {
    min-height: 100vh !important;
  }

  .heif-lg-1 {
    height: 8.33vh !important;
  }
  .heif-lg-2 {
    height: 16.66vh !important;
  }
  .heif-lg-3 {
    height: 25vh !important;
  }
  .heif-lg-4 {
    height: 33.33vh !important;
  }
  .heif-lg-5 {
    height: 41.66vh !important;
  }
  .heif-lg-6 {
    height: 50vh !important;
  }
  .heif-lg-7 {
    height: 58.33vh !important;
  }
  .heif-lg-8 {
    height: 66.66vh !important;
  }
  .heif-lg-9 {
    height: 75vh !important;
  }
  .heif-lg-10 {
    height: 83.33vh !important;
  }
  .heif-lg-11 {
    height: 91.66vh !important;
  }
  .heif-lg-12 {
    height: 100vh !important;
  }

}

@media only screen and (min-width: 1200px) {

  //.ant-carousel{
  //  width:50vw !important;
  //  background-color: #0b2e13!important;
  //}

  .hei-xl-1 {
    min-height: 8.33vh !important;
  }
  .hei-xl-2 {
    min-height: 16.66vh !important;
  }
  .hei-xl-3 {
    min-height: 25vh !important;
  }
  .hei-xl-4 {
    min-height: 33.33vh !important;
  }
  .hei-xl-5 {
    min-height: 41.66vh !important;
  }
  .hei-xl-6 {
    min-height: 50vh !important;
  }
  .hei-xl-7 {
    min-height: 58.33vh !important;
  }
  .hei-xl-8 {
    min-height: 66.66vh !important;
  }
  .hei-xl-9 {
    min-height: 75vh !important;
  }
  .hei-xl-10 {
    min-height: 83.33vh !important;
  }
  .hei-xl-11 {
    min-height: 91.66vh !important;
  }
  .hei-xl-12 {
    min-height: 100vh !important;
  }

  .heif-xl-1 {
    height: 8.33vh !important;
  }
  .heif-xl-2 {
    height: 16.66vh !important;
  }
  .heif-xl-3 {
    height: 25vh !important;
  }
  .heif-xl-4 {
    height: 33.33vh !important;
  }
  .heif-xl-5 {
    height: 41.66vh !important;
  }
  .heif-xl-6 {
    height: 50vh !important;
  }
  .heif-xl-7 {
    height: 58.33vh !important;
  }
  .heif-xl-8 {
    height: 66.66vh !important;
  }
  .heif-xl-9 {
    height: 75vh !important;
  }
  .heif-xl-10 {
    height: 83.33vh !important;
  }
  .heif-xl-11 {
    height: 91.66vh !important;
  }
  .heif-xl-12 {
    height: 100vh !important;
  }

}
