@import "global";



.publicContainer {

  width: 100%;

  &.dashboard {
    //padding-top: $paddingTopForMenu + 6vh;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

  }

}


.SortableItemCS{

  position: relative;

  #username{
    z-index:2;
    bottom:5px;
    text-align:center;
    position: absolute;
    padding: 2px 10px;
    background-color: $red;
    border-radius: 50px;
    color: $white;
  }
}

@media only screen and (max-width: 993px) {
  label {
    padding: 10px 0 !important;
  }

}


